.hero-text {
    padding-top: 12.6875rem;
    padding-left: 22.8125rem;
    h1 {
        width: 32.6875rem;
        font-weight: 400;
        font-size: 2.5rem;
        color: #000;
    }
    p {
        padding-top: 2.4375rem;
        width: 27.6875rem;
        font-size: 1.5rem;
        color: #000;
    }
    button {
        margin-top: 4.0625rem;
        padding: 0.8125rem 4.5rem;
        background-color: #EB655A;
        border-radius: 0.625rem;
        font-weight: 400;
        font-size: 1.25rem;
        color: #fff;
    }
}