header {
    margin-top: 1.9375rem;
    margin-inline: auto;
    width: 81.375rem;
    height: 6.3125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 6.3125rem;
        height: 6.3125rem;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 4.625rem;
            li {

            }
        }
    }
    button {
        padding: 0.625rem;
        border: 0.1875rem solid #EB655A;
        border-radius: 0.625rem;
        color: #000;
        font-size: 1.25rem;
    }
}